<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Log New Movies</title>
    </head>
    <body>
        <form method="post">
            <label for="title">Movie Title:</label>
            <br />
            <input type="text" id="title" name="title">
            <br />
            <br />
            <label for="title">Genre:</label>
            <br />
            <input type="text" id="genre" name="genre">
            <br />
            <br />
            <label for="title">Review:</label>
            <br />
            <input type="text" id="review" name="review">
            <br />
            <br />
            <input type="submit" value="Create">
        </form>
    </body>
</html>